/* Unfuck repository view */

#js-repo-pjax-container .container-xl {
  /* max-width: 980px; */
  max-width: 1012px;
}

.repository-content > .gutter-condensed > .col-md-9 {
  width: 100%;
}

.repository-content > .gutter-condensed > .col-md-3 {
  display: none;
}

.UnderlineNav {
  box-shadow: none;
}

.blame-commit-info {
  width: 200px;
}

.btn .octicon {
  color: inherit;
}