a, body, button, html, p,
.topbar, .topbar a,
.repo-header .repo-title a {
    color: #aaa;
}

body, html, .topbar { background-color: #333; }
.button             { background-color: #555; }

.log-header a:hover {
    color: #fff;
}

.top {
    position: relative;
    z-index: 2;
    box-shadow: 0 0 15px #111;
}

.logo a:hover { background-color: #444; }
.icon-broadcast .count-wrapper {
  background: #6b2e2e;
}

.loading-page,
.wrapper,
.owner-header img,
.top,
.search--sidebar .search-inner input:focus {
    background-color: #333;
}

.main,
#left,
.option-dropdown,
.sidebar {
    background-image: linear-gradient(45deg, #1f1f1f 25%, transparent 25%, transparent 75%, #1f1f1f 75%, #1f1f1f), linear-gradient(135deg, #1f1f1f 25%, transparent 25%, transparent 75%, #1f1f1f 75%, #1f1f1f);
    background-color: #222;
    background-size: 4px 4px;
}

#left {
    border-right-color: #1a1a1a;
    box-shadow: 0 0 15px #111;
}

button,
.action-button--cancel, .action-button--debug, .action-button--restart,
.download-log-button, .remove-log-button, .toggle-log-button--dark,
.search--sidebar .search-inner input,
.searchbox-input,
.option-display {
    background-color: #333;
    color: #999;
    border-color: #111;
}

.search--sidebar .search-inner {
    border: 1px solid #111;
}

.travistab-nav--secondary a,
.travistab-nav.travistab-nav--underline,
.sidebar-list ul,
.repo-navigation {
    border-bottom-color: #666;
}
.sidebar-list ul {
    background-color: #1a1a1a;
}

.build-header,
.sidebar-seperator,
.row-li {
    border-color: #333;
}
#log {
    border: 2px solid #444;
    border-top-width: 0;
}

.build-tiles li {
  background-color: #444;
  border-right: 1px solid #333;
}
.build-tiles>.started  { background-color: #7d7336; }
.build-tiles>.canceled { background-color: #666666; }
.build-tiles>.passed   { background-color: #356b2e; }
.build-tiles>.failed   { background-color: #6b2e2e; }
.build-tiles>.errored  { background-color: #6b2e2e; }


.tile.booting, .tile.created, .tile.queued, .tile.received, .tile.started {
    background: linear-gradient(to right, #edde3f 0, #edde3f 8px, #333 8px, #333 100%) no-repeat;
}
.tile.passed {
    background: linear-gradient(to right, #39aa56 0, #39aa56 8px, #333 8px, #333 100%) no-repeat;
}
.tile.errored, .tile.failed {
    background: linear-gradient(to right, #db4545 0, #db4545 8px, #333 8px, #333 100%) no-repeat;
}
.tile.canceled {
    background: linear-gradient(to right, #9d9d9d 0, #9d9d9d 10px, #333 8px, #333 100%) no-repeat;
}

.build-header.booting, .build-header.created, .build-header.queued, .build-header.received, .build-header.started {
    background: linear-gradient(to right, #edde3f 0, #edde3f 10px, #444 10px, #444 100%) no-repeat;
}
.build-header.passed {
    background: linear-gradient(to right, #39aa56 0, #39aa56 10px, #444 10px, #444 100%) no-repeat
}
.build-header.errored, .build-header.failed {
    background: linear-gradient(to right, #db4545 0, #db4545 10px, #444 10px, #444 100%) no-repeat
}
.build-header.canceled {
    background: linear-gradient(to right, #9d9d9d 0, #9d9d9d 10px, #444 10px, #444 100%) no-repeat
}

.row-li.booting, .row-li.created, .row-li.queued, .row-li.received, .row-li.started {
    background: linear-gradient(to right, #edde3f 0, #edde3f 10px, #333 10px, #333 100%) no-repeat;
}
.row-li.passed {
    background: linear-gradient(to right, #39aa56 0, #39aa56 10px, #333 10px, #333 100%) no-repeat;
}
.row-li.canceled {
    background: linear-gradient(to right, #9d9d9d 0, #9d9d9d 10px, #333 10px, #333 100%) no-repeat;
}
.row-li.errored, .row-li.failed {
    background: linear-gradient(to right, #db4545 0, #db4545 10px, #333 10px, #333 100%) no-repeat;
}

.build-commit:after {
    background: linear-gradient(-90deg, #444 20%, rgba(50, 50, 50, 0) 100%);
}

@media screen and (min-width: 50.063em) {
  .commit-description:after {
    background: linear-gradient(360deg, #444 5%, rgba(50, 50, 50, 0) 100%);
  }
  .tile h2:after,
  .pr-row .row-branch:after {
    background: linear-gradient(-90deg, #333 0, rgba(50, 50, 50, 0) 100%);
  }
  .fade-out:after {
    background: linear-gradient(-90deg, #333 30%, rgba(50, 50, 50, 0) 100%);
  }

  .job-lang:after, .job-env:after, .pr-row .row-message:after {
    background: linear-gradient(-90deg, #333 30%, rgba(50, 50, 50, 0) 100%);
  }
  
  .job-env::after,
  .jobs-item.passed:hover .job-env::after,
  .jobs-item.passed:hover .job-lang::after,
  .jobs-item.passed:hover .job-name::after {
    height: 34px;
  }

  .jobs-item.started:hover .job-env::after,
  .jobs-item.started:hover .job-lang::after,
  .jobs-item.started:hover .job-name::after {
    background: linear-gradient(-90deg, #332 30%, rgba(50, 50, 50, 0) 100%);
  }

  .jobs-item.passed:hover .job-env::after,
  .jobs-item.passed:hover .job-lang::after,
  .jobs-item.passed:hover .job-name::after {
    background: linear-gradient(-90deg, #231 30%, rgba(50, 50, 50, 0) 100%);
  }
  
  .jobs-item.failed:hover .job-env:after,
  .jobs-item.failed:hover .job-lang:after,
  .jobs-item.failed:hover .job-name:after {
    background: linear-gradient(-90deg, #322 30%, rgba(50, 50, 50, 0) 100%);
  }

  .pr-row .two-line:first-of-type {
      border-color: #333;
  }
  .pr-row .row-branch:hover a {
      background-color: inherit;
  }
  .branch-row .row-last-build:before {
      background-color: #333;
  }
  .option-tofu { 
      border-color: #222;
  }
}